# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Virtual envs
venv/
env/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# dotenv
.env

# MySQL dump
*.sql

# PyCharm
*.iml

# Jupyter
.ipynb_checkpoints/
